body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000;
  color: rgb(255, 255, 255);
}

button{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #874146;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;

  padding: 12px 16px;
}

button:hover {
  box-shadow: 4px 4px 0 #F4CD8A;
  transform: translate(-4px,-4px);
}

button:active, input:active{
  background-color: #5c2d30;
}

button:focus-visible{
  outline-offset: 1px;
}

input:hover{
  box-shadow: 4px 4px 0 #F4CD8A;
  transform: translate(-4px,-4px);
}

table{
  width: 70%;
  width: 70%;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

th {
  text-align: left;

  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.resetbtn{
  position: absolute;
  right: 1%;
  top: 15%
}

.resettxt{
  color: #F4CD8A;
}

tr{
  background-color: #272727;
}
  
tr:nth-child(even) {
  background-color: #1d1d1d;
}

.teamname{
  text-align: center;
  background-color: #874146;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: #F4CD8A;
  font-size: 20px;

  width: 40%;
  margin-left: 28%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.court{
  text-align: center;
  background-color: #874146;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: #F4CD8A;
  font-size: 20px;

  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  padding: 1.1%;
}

.points{
  text-align: center;
  width: 39%;
  background-color: #874146;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: #F4CD8A;
  font-size: 20px;

  margin-left: 28%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.teamname::placeholder, .points::placeholder, .period::placeholder{
  color: #F4CD8A;
  opacity: .5;
}

.pointsbtn{
  color: #F4CD8A;

  width: 25%;
  margin: 2%;
}

.btncellhome{
  padding-left: 13.4%;
}

.btncellaway{
  padding-left: 13.2%;
}

.period{
  text-align: center;
  width: 20%;
  background-color: #874146;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: #F4CD8A;
  font-size: 20px;

  margin-left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.periodbtnadd{
  color: #F4CD8A;
  width: 5%;

  margin-top: 2%;
  padding-top: 1.1%;
}

.periodbtnsub{
  color: #F4CD8A;
  width: 5%;

  margin-right: 0px;
  margin-left: 33.5%;
  margin-top: 2%;
  padding-top: 1.1%;
}

.pointsrow{
  position: relative;
}

.pointstxt{
  color: #F4CD8A;
  font-size: 150%;
  
  position: absolute;
  bottom: -7%;
  left: 4%;
}

.periodrow{
  position: relative;
}

.periodtxt{
  color: #F4CD8A;
  font-size: 150%;
  
  position: absolute;
  top: 15%;
  left: 25%;
}

.copy{
  color: #F4CD8A;
  font-size: 20px;
}