body{
    /* background-color: rgb(0, 255, 0); */
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
}
table{
    border-collapse: collapse;

    width: 20%;
    margin: 0.5%;
}

.r1{
    background-color: #874146;
    line-height:8%;
}

.r2{
    background-color: #5f5f5f    
}

.r3{
    background-color: #0f0f0f
}

.periodtxt{
    font-size: 140%;
    float: left;
    width: 20%;
    padding-left: 2%;
    padding-top: 0px;
}

.periodcount{
    font-size: 140%;

    width: 30%;
    float: left;
}

img{
    width: 15%;  
    height: auto;
    margin-left: 3%; 
    filter: drop-shadow(5px 5px 3px rgb(255, 255, 255));
}